# .env

# PostgreSQL Configuration
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=secret
USER_POSTGRES_DB=bookman_userdb
USER_POSTGRES_PORT=5433
USER_POSTGRES_HOST=postgres

AUTHOR_POSTGRES_USER=postgres
AUTHOR_POSTGRES_PASSWORD=secret
AUTHOR_POSTGRES_DB=bookman_authordb
AUTHOR_POSTGRES_PORT=5434
AUTHOR_POSTGRES_HOST=postgres

BOOK_POSTGRES_USER=postgres
BOOK_POSTGRES_PASSWORD=secret
BOOK_POSTGRES_DB=bookman_bookdb
BOOK_POSTGRES_PORT=5435
BOOK_POSTGRES_HOST=postgres

CATEGORY_POSTGRES_USER=postgres
CATEGORY_POSTGRES_PASSWORD=secret
CATEGORY_POSTGRES_DB=bookman_categorydb
CATEGORY_POSTGRES_PORT=5436
CATEGORY_POSTGRES_HOST=postgres

# Service Ports
GATEWAY_PORT=4050
USER_SERVICE_GRPC_PORT=50051
USER_SERVICE_REST_PORT=4001
AUTHOR_SERVICE_GRPC_PORT=50052
AUTHOR_SERVICE_REST_PORT=4002
BOOK_SERVICE_GRPC_PORT=50053
BOOK_SERVICE_REST_PORT=4003
CATEGORY_SERVICE_GRPC_PORT=50054
CATEGORY_SERVICE_REST_PORT=4004

# JWT Configuration
JWT_SECRET=nibrossecret