# .env

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=bookman_authordb
POSTGRES_PORT=5432
POSTGRES_HOST=author-postgres-bookmango

# JWT Configuration
JWT_SECRET=nibrossecret
