# .env

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=bookman_userdb
POSTGRES_PORT=5432
POSTGRES_HOST=user-postgres-bookmango

# JWT Configuration
JWT_SECRET=nibrossecret
