# .env

# PostgreSQL Configuration
USER_POSTGRES_USER=postgres
USER_POSTGRES_PASSWORD=secret
USER_POSTGRES_DB=bookman_userdb
USER_POSTGRES_PORT=5433
USER_POSTGRES_HOST=localhost # or postgres

# JWT Configuration
JWT_SECRET=nibrossecret
