# .env

# PostgreSQL Configuration
BOOK_POSTGRES_USER=postgres
BOOK_POSTGRES_PASSWORD=secret
BOOK_POSTGRES_DB=bookman_bookdb
BOOK_POSTGRES_PORT=5435
BOOK_POSTGRES_HOST=localhost # or postgres

# JWT Configuration
JWT_SECRET=nibrossecret
