# .env

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=bookman_bookdb
POSTGRES_PORT=5432
POSTGRES_HOST=book-postgres-bookmango

# JWT Configuration
JWT_SECRET=nibrossecret
