# .env

# PostgreSQL Configuration
CATEGORY_POSTGRES_USER=postgres
CATEGORY_POSTGRES_PASSWORD=secret
CATEGORY_POSTGRES_DB=bookman_categorydb
CATEGORY_POSTGRES_PORT=5436
CATEGORY_POSTGRES_HOST=localhost # or postgres

# JWT Configuration
JWT_SECRET=nibrossecret
